In [38]:
import numpy as np

In [39]:
import pandas as pd

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
from sklearn import preprocessing

In [42]:
from sklearn.metrics import mean_squared_error

In [43]:
from sklearn import linear_model
import sklearn.linear_model
from sklearn.linear_model import LinearRegression

In [44]:
%matplotlib inline
import matplotlib.pyplot as plt

In [45]:
import os

In [46]:
filePath="/cxldata/datasets/project/bikes.csv"

In [47]:
bikesData=pd.read_csv(filePath)

In [48]:
bikesData.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [49]:
bikesData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
instant       17379 non-null int64
dteday        17379 non-null object
season        17379 non-null int64
yr            17379 non-null int64
mnth          17379 non-null int64
hr            17379 non-null int64
holiday       17379 non-null int64
weekday       17379 non-null int64
workingday    17379 non-null int64
weathersit    17379 non-null int64
temp          17379 non-null float64
atemp         17379 non-null float64
hum           17379 non-null float64
windspeed     17379 non-null float64
casual        17379 non-null int64
registered    17379 non-null int64
cnt           17379 non-null int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [50]:
bikesData["yr"].unique()

array([0, 1])

In [51]:
bikesData["hum"].mean()

0.6272288394038822

In [52]:
columnsToDrop= ["instant","casual","registered","atemp","dteday"]

In [53]:
bikesData = bikesData.drop(columnsToDrop,axis=1)

In [54]:
columnsToScale=["temp","hum","windspeed"]

In [55]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [56]:
scaler=StandardScaler()
bikesData[columnsToScale] = scaler.fit_transform(bikesData[columnsToScale])
bikesData[columnsToScale].describe()

               temp           hum     windspeed
count  1.737900e+04  1.737900e+04  1.737900e+04
mean   3.497212e-16 -4.195150e-16  4.035529e-15
std    1.000029e+00  1.000029e+00  1.000029e+00
min   -2.477205e+00 -3.251166e+00 -1.553889e+00
25%   -8.153035e-01 -7.631431e-01 -6.996886e-01
50%    1.564696e-02  1.436398e-02  3.189880e-02
75%    8.465975e-01  7.918711e-01  5.198962e-01
max    2.612367e+00  1.932215e+00  5.399871e+00

In [57]:
bikesData['dayCount'] = pd.Series(range(bikesData.shape[0]))/24

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
train_set, test_set = train_test_split(bikesData, test_size=0.3, random_state=42)

In [60]:
train_set.sort_values('dayCount', axis= 0, inplace=True) 
test_set.sort_values('dayCount', axis= 0, inplace=True)

/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [61]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12165 entries, 1 to 17378
Data columns (total 13 columns):
season        12165 non-null int64
yr            12165 non-null int64
mnth          12165 non-null int64
hr            12165 non-null int64
holiday       12165 non-null int64
weekday       12165 non-null int64
workingday    12165 non-null int64
weathersit    12165 non-null int64
temp          12165 non-null float64
hum           12165 non-null float64
windspeed     12165 non-null float64
cnt           12165 non-null int64
dayCount      12165 non-null float64
dtypes: float64(4), int64(9)
memory usage: 1.3 MB

In [62]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5214 entries, 0 to 17377
Data columns (total 13 columns):
season        5214 non-null int64
yr            5214 non-null int64
mnth          5214 non-null int64
hr            5214 non-null int64
holiday       5214 non-null int64
weekday       5214 non-null int64
workingday    5214 non-null int64
weathersit    5214 non-null int64
temp          5214 non-null float64
hum           5214 non-null float64
windspeed     5214 non-null float64
cnt           5214 non-null int64
dayCount      5214 non-null float64
dtypes: float64(4), int64(9)
memory usage: 570.3 KB

In [63]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [64]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [65]:
from xgboost import XGBRegressor

In [66]:
trainingCols=train_set.drop(["cnt"],axis=1)

In [67]:
trainingLabels=train_set["cnt"]

In [68]:
trainingLabels.head()

1    40
2    32
4     1
6     2
7     3
Name: cnt, dtype: int64

In [69]:
trainingCols.head()

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,hum,windspeed,dayCount
1,1,0,1,1,0,6,0,1,-1.438516,0.895539,-1.553889,0.041667
2,1,0,1,2,0,6,0,1,-1.438516,0.895539,-1.553889,0.083333
4,1,0,1,4,0,6,0,1,-1.334648,0.636370,-1.553889,0.166667
6,1,0,1,6,0,6,0,1,-1.438516,0.895539,-1.553889,0.250000
7,1,0,1,7,0,6,0,1,-1.542385,1.206542,-1.553889,0.291667

In [70]:
dec_reg = DecisionTreeRegressor(random_state=42)

In [75]:
dt_mae_scores = -cross_val_score(dec_reg,trainingCols,trainingLabels,cv=10,scoring="neg_mean_absolute_error")

In [76]:
display_scores(dt_mae_scores)

Scores: [42.79622021 50.31963846 37.03615448 44.15365653 47.07723911 72.03782895
 58.36019737 48.22615132 50.94407895 96.88898026]
Mean: 54.78401456342171
Standard deviation: 16.70953413912157

In [73]:
dt_mse_scores = np.sqrt(-cross_val_score(dec_reg,trainingCols,trainingLabels,cv=10,scoring="neg_mean_squared_error"))

In [74]:
display_scores(dt_mse_scores)

Scores: [ 65.10279464  77.670527    60.59989749  73.66268699  75.76702279
 113.26870416  96.665763    81.28550338  86.87354694 149.4085296 ]
Mean: 88.03049759858746
Standard deviation: 25.035783082114

In [85]:
lin_reg = LinearRegression()

In [86]:
lr_mae_scores = -cross_val_score(lin_reg,trainingCols,trainingLabels,cv=10,scoring="neg_mean_absolute_error")

In [87]:
display_scores(lr_mae_scores)

Scores: [ 66.96340699  80.48809095 113.84704981  93.17230086  76.11197672
  96.5220689  133.13798218 158.02254734 158.90195479 127.15674717]
Mean: 110.43241256942201
Standard deviation: 31.426965705295725

In [88]:
lr_mse_scores = np.sqrt(-cross_val_score(lin_reg,trainingCols,trainingLabels,cv=10,scoring="neg_mean_squared_error"))

In [89]:
display_scores(lr_mse_scores)

Scores: [ 84.63836676 111.12038541 131.88324414 119.16350622 105.17621319
 127.72562924 174.97188817 187.31691741 205.60028279 164.30585678]
Mean: 141.1902290118175
Standard deviation: 37.55565075919573

In [94]:
forest_reg = RandomForestRegressor(random_state=42,n_estimators=150)

In [96]:
rf_mae_scores = -cross_val_score(forest_reg,trainingCols,trainingLabels,cv=10,scoring="neg_mean_absolute_error")

In [97]:
display_scores(rf_mae_scores)

Scores: [33.33921665 33.5634292  28.51544782 31.74855656 36.55779239 57.78830592
 40.91410636 40.72524123 37.58651864 84.75860197]
Mean: 42.54972167412677
Standard deviation: 15.998616999257116

In [99]:
rf_mse_scores = np.sqrt(-cross_val_score(forest_reg,trainingCols,trainingLabels,cv=10,scoring="neg_mean_squared_error"))

In [100]:
display_scores(rf_mse_scores)

Scores: [ 45.56103408  50.97710002  43.43059587  52.22561489  60.45598311
  94.23444802  66.14917355  65.25550321  61.67555223 132.00386791]
Mean: 67.19688728966834
Standard deviation: 25.55764715717203

In [105]:
from sklearn.model_selection import GridSearchCV

In [106]:
param_grid = [{'n_estimators': [120, 150], 'max_features': [10, 12], 'max_depth': [15, 28]}]

In [110]:
grid_search = GridSearchCV(forest_reg, param_grid, cv=5,scoring='neg_mean_squared_error')

In [113]:
grid_search.fit(trainingCols,trainingLabels)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=150, n_jobs=None,
                                             oob_score=False, random_state=42,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'max_depth': [15, 28], 'max_features': [10, 12],
                          'n_estimators': [120, 150]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [114]:
# The best hyperparameter combinations

grid_search.best_params_

{'max_depth': 28, 'max_features': 10, 'n_estimators': 150}

In [115]:

# Get the best estimator

grid_search.best_estimator_

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=28, max_features=10, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=150, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [124]:
feature_importances=grid_search.best_estimator_.feature_importances_

In [125]:
print(feature_importances)

[0.00424888 0.00145493 0.00570279 0.58348648 0.00215107 0.01790669
 0.06993018 0.01688336 0.09373438 0.03176755 0.00907719 0.16365649]

In [129]:
final_model=grid_search.best_estimator_

In [130]:
test_set.sort_values('dayCount', axis= 0, inplace=True)

/usr/local/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [132]:
test_x_cols=test_set.drop(["cnt"],axis=1).columns.values

In [142]:
test_y_cols="cnt"

In [143]:
X_test = test_set.loc[:,test_x_cols]

In [144]:
y_test = test_set.loc[:,test_y_cols]

In [154]:
test_set.loc[:,'predictedCounts_test'] = final_model.predict(X_test)

mse = mean_squared_error(y_test, test_set.loc[:,'predictedCounts_test'])
final_mse = np.sqrt(mse)
print(final_mse)
test_set.describe()

39.50507676859462

/usr/local/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt,dayCount,predictedCounts_test
count,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000,5214.000000
mean,2.481204,0.504411,6.480437,11.471423,0.030687,3.001534,0.685846,1.422133,-0.012980,-0.002944,0.012217,185.322785,360.850898,186.751803
std,1.110062,0.500028,3.457991,6.887845,0.172484,1.995486,0.464223,0.637995,0.993567,0.995428,1.006002,177.755171,207.769276,171.543539
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,-2.477205,-3.251166,-1.553889,1.000000,0.000000,1.526667
25%,1.000000,0.000000,3.000000,6.000000,0.000000,1.000000,0.000000,1.000000,-0.815304,-0.763143,-0.699689,41.000000,180.781250,50.420000
50%,2.000000,1.000000,6.000000,11.000000,0.000000,3.000000,1.000000,1.000000,0.015647,0.014364,0.031899,136.000000,362.375000,144.173333
75%,3.000000,1.000000,9.000000,17.000000,0.000000,5.000000,1.000000,2.000000,0.742729,0.791871,0.519896,277.000000,537.104167,274.643500
max,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,2.404630,1.932215,5.399871,977.000000,724.041667,906.280000